# Ignore project files made by code editors
.idea
.vscode
.sublime-project
.sublime-workspace

*.log
.wakatime-project
.remote-sync.json
.editorconfig

# ignore Composer downloads
/vendor/*

# Ignore environment file
.env

# keep some hiddens
!/.gitignore

# ignore bootstrap files
/bootstrap/*

# ignore code coverage folder
/tests/coverage/*
coverage/*
coverage.xml

# Ignore Composer lockfile since this is a library
composer.lock

# PHPUnit cache files
.phpunit.result.cache
