<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Channels API Tests">
            <directory suffix="Test.php">./tests/Channels</directory>
        </testsuite>

        <testsuite name="Inventory API Tests">
            <directory suffix="Test.php">./tests/Inventory</directory>
        </testsuite>

        <testsuite name="Orders API Tests">
            <directory suffix="Test.php">./tests/Orders</directory>
        </testsuite>

        <testsuite name="Shipments API Tests">
            <directory suffix="Test.php">./tests/Shipments</directory>
        </testsuite>

        <testsuite name="Warehouses API Tests">
            <directory suffix="Test.php">./tests/Warehouses</directory>
        </testsuite>

        <testsuite name="Products API Tests">
            <directory suffix="Test.php">./tests/Products</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Interfaces</directory>
                <!--<directory suffix=".php">./src/Products</directory>-->
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/coverage" lowUpperBound="35" highLowerBound="85" />
    </logging>
</phpunit>
